.div1
{
border:red 2px solid;
font-family: Georgia, serif;



}
.div2
{
border: black 2px solid;
background-color: #00ffff



}
.div3
{
border: #00ffff 2px solid;
background-color: #4682b4


}